@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;

  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url(./media/cristian-newman-KXLPAq3rGOs-unsplash.jpg) no-repeat
    center center/cover;
  position: absolute;
  top: -30;
  left: -30;
  width: calc(100vw);
  height: calc(100vh);
  z-index: -1;
  filter: blur(0px);
}
.loading-text {
  font-size: 50px;
  color: white;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
